.game-banner {
	background-color: #282828;
	background-position: center;
	background-size: cover;
	border-bottom: 3px solid #f5f5f5;
	box-shadow: 0px 5px 20px 10px rgba(0,0,0,.5);
	display: flex;
	height: 300px;
}

.game-banner .game-logo {
	color: #f5f5f5;
	font-weight: bold;
	font-size: 5em;
	margin: 0 auto;
	margin-top: 30px;
	width: 40%;
}

.game-banner .game-logo img {
	width: 100%;
}

.description {
	color: #282828;
	display: block;
	float: left;
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: 1.75;
	padding-top: 80px;
	width: 60%;
}

.game .game-description .play-on {
	font-size: 1.4em;
	font-weight: bold;
}

.platform-list {
	list-style-type: none;
	margin-top: 15px;
}

.platform-list .platform {
	display: inline-block;
	margin-right: 10px;
}

.platform img {
	border: 1px solid #f5f5f5;
	max-width: 100%;
	max-height: 100%;
	transition: border 0.35s ease-in-out;
}

.platform img:hover {
	border: 1px solid #22a0d6;
	

.screenshots {
	background-image: linear-gradient(rgba(40, 40, 40, 0.75), rgba(30, 30, 30, 0.9)), 
		url("../images/ui/softhexagonpattern.png");
	background-repeat: repeat;
	background-color: #333333;
	border-bottom: 1px solid #999999;
	height: 140px;
	min-width: 500px;
}