.game {
	background-color: #282828;
	background-position: center;
	background-size: cover;
	border-bottom: 1px solid #f5f5f5;
	box-shadow: inset 5px 20px 20px rgba(0,0,0,.5);
	display: flex;
	min-height: 500px;
}

.game a {
	text-decoration: none;
	color : inherit;
}

.game hr {
	background-color: #f5f5f5;
	border: 0; 
	height: 3px;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 70%;
}

.game .game-logo {
	color: #f5f5f5;
	float: left;
	font-weight: bold;
	font-size: 5em;
	margin-top: 30px;
	width: 30%;
}

.game .game-logo img {
	width: 100%;
}

.game .game-description {
	color: #f5f5f5;
	display: block;
	float: right;
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: 1.75;
	padding-top: 80px;
	width: 68%;
}

.game .game-description .play-on {
	font-size: 1.4em;
	font-weight: bold;
}

.platform-list {
	list-style-type: none;
	margin-top: 15px;
}

.platform-list .platform {
	display: inline-block;
	margin-right: 10px;
}

.platform img {
	border: 1px solid #f5f5f5;
	max-width: 100%;
	max-height: 100%;
	transition: border 0.35s ease-in-out;
}

.platform img:hover {
	border: 1px solid #22a0d6;
	transition: border 0.35s ease-in-out;
}