#newsfeed {
	background-color: #ededed;
	border: 1px solid #333333;
	overflow-x: hidden;
	width: 250px;
	float: left;
}

#newsfeed h1 {
	background-color: #555555;
	color: #cecece;
	font-size: 2em;
	padding: 10px 15px 15px 10px;
}

.news-card {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 3px 3px 5px #8e8e8e;
	margin: 15px;
	max-height: 200px;
	overflow: hidden;
	padding: 15px;
}

.news-card h2 {
	margin-bottom: 10px;
}

.news-card img {
	border-radius: 7px;
	width: 100%;
}

.news-card p {
	
}