#newsfeed {
	background-color: #ededed;
	border: 1px solid #333333;
	overflow-x: hidden;
	width: 250px;
	float: left;
}

#newsfeed h1 {
	background-color: #555555;
	color: #cecece;
	font-size: 2em;
	padding: 5px 5px 5px 5px;
}

.news-card {	
	margin: 15px;
	max-height: 200px;
	overflow: hidden;
	padding: 5px;
	transition: 0.15s ease-in-out;
}

.news-card:hover {
	background-color: #ffffff;
	box-shadow: 3px 3px 5px #8e8e8e;
	transition: 0.15s ease-in-out;
}

.news-card h2 {
	margin-bottom: 10px;
}

.news-card img {
	width: 100%;
}

.news-card p {
	
}