* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
	color: #555555;
	font:0.8em sans-serif;
}

input, select {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #008040;
	background: #FFFFFF;
	border: 1px dotted #004080;
}

.empty-list {
	background-color: #7f7f7f;
	color: #f5f5f5;
	font-size: 3em;
	margin: 10px;
	padding: 25px;
}

.empty-list img {
	height: 1em;
	padding-left: 15px;
	vertical-align: middle;
}

.empty-list span {	
	vertical-align: middle;
}

/* Added by Larry Ullman: */
.error, .ad {
	font-weight: bold;
	color: #CC0000;
}

.wrapper {
	max-width: 1600px;
	width: 95%;
	margin: 0 auto;
}

#content {
	float: right;
	font-size: 1.5em;
	padding: 15px;
	width: 78%;
}

#content p {
	padding: 20px 20px 0;
}

#twitter-widget-0 {
	width: 20% !important;
	padding: 15px;
}